In [1]:
import pandas as pd

# Files that we have

In [3]:
!ls -la data

total 368
drwxrwxrwx 1 roman roman    512 Jul  7 10:22 .
drwxrwxrwx 1 roman roman    512 Jul  7 10:26 ..
-rwxrwxrwx 1 roman roman  43373 Jul  7 10:22 rus_test.csv
-rwxrwxrwx 1 roman roman  50775 Jul  7 10:22 rus_train.csv
-rwxrwxrwx 1 roman roman 122740 Jul  7 10:22 rus_train_unchecked.csv
-rwxrwxrwx 1 roman roman   1527 Jul  7 10:22 sample_submission.csv
-rwxrwxrwx 1 roman roman  28804 Jul  7 10:22 test.csv
-rwxrwxrwx 1 roman roman  31480 Jul  7 10:22 train.csv
-rwxrwxrwx 1 roman roman  82943 Jul  7 10:22 train_unchecked.csv

# The content of train and test files

## Train

In [12]:
df = pd.read_csv("data/train.csv", index_col=0)
df.head()

                                                 problem_text answer
problem_id
2374        Find the value of the expression $\dfrac{17}{5...    1.6
4723        In a company of 30 people, 25 use the social n...     24
7135        The number of road traffic accidents (RTAs) in...     32
5814        Find the value of the expression $\dfrac{2\str...    256
9237        A traveler from Moscow wants to visit four cit...     53

In [27]:
print("The first task: ", df.iloc[0,0])
print("The last task: " , df.iloc[-1,0])

The first task:  Find the value of the expression $\dfrac{17}{5} :\dfrac{34}{3} +1.3$.
The last task:  Find the root of the equation \(\left(\dfrac{1}{2} \right)^{x - 8} = 8\).

In [28]:
df.shape

(100, 2)

## Test

In [29]:
df_test = pd.read_csv("data/test.csv", index_col=0)
df_test.head()

                                                 problem_text
problem_id
11919       Find the value of the expression \(4.8 \cdot 2...
8513        The plane's navigation system informs the pass...
7887        The volume of a rectangular parallelepiped is ...
5272        Find the root of the equation: $\left(\dfrac{1...
8295        At the school, there are two-person camping te...

In [31]:
df_test.shape

(100, 1)

In [ ]:
df = pd.read_csv("data/train.csv", index_col=0)
df.head()

## Train unchecked

In [37]:
df = pd.read_csv("data/train_unchecked.csv", index_col=0)
df.head()

                                                 problem_text answer
problem_id
9625        Find a four-digit number that is 14 times smal...   1568
1064        Find the root of the equation $\log _{\frac{1}...   7.25
8511        The airplane's navigation system informs the p...  11590
9692        Each of the four inequalities in the left colu...   2143
221         The city budget amounts to 84 million rubles, ...   37.8

In [38]:
df.shape

(300, 2)

## Rus train

In [34]:
df = pd.read_csv("data/rus_train.csv", index_col=0)
df.head()

,problem_text,answer,hint
problem_id,,,
2374,Найдите значение выражения $\dfrac{17}{5} :\df...,1.6,Десятичную в обыкновенную
4723,В компании из 30 человек 25 пользуются социаль...,24,Диаграмма Венна
7135,Число дорожно-транспортных происшествий (ДТП) ...,32,дробь в проценты
5814,Найдите значение выражения $\dfrac{2\strut^{-5...,256,свойства степени
9237,Путешественник из Москвы хочет посетить четыре...,53,перебор

In [35]:
df.shape

(100, 3)